ChallengeResponseAuthentication no
UsePAM no
PasswordAuthentication no
PrintMotd no
X11Forwarding no
AllowTcpForwarding yes
AllowAgentForwarding yes
PermitTunnel yes
PermitOpen any
Subsystem sftp /usr/lib/openssh/sftp-server